trigger:
  branches:
    include:
      - main  # Change this to your branch name
variables:
  global_variable: 'Github KV'
pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: github1
    jobs:
      - job:
        steps:
        - checkout: self
          clean: true

        - script: |
            git config --global user.name "thedevopscoder"
            git config --global user.email "getme@devopscoder.io"
            git remote add github https://github.com/thedevopscoder/thedevopscoder.git
            git fetch origin
            git push github HEAD:main --force
          # git push github --force

          # git config --global user.name "DevOps Coder"
          # git remote add origin https://github.com/thedevopscoder/thedevopscoder.git
          # git remote -v
          # git remote set-url origin https://github.com/thedevopscoder/thedevopscoder.git
          # git push githubprofile HEAD:main
         #   # git config --global user.email "getme@devopscoder.io"
            # git config --global user.name "DevOps Coder"
            # # git config --global --add url."thedevopscoder@github.com/thedevopscoder/thedevopscoder" #.insteadOf "https://github.com/"
            # git remote add github git@github.com:thedevopscoder/thedevopscoder.git  # Replace with your GitHub repository URL
            # git push github HEAD:main  # Change the branch name as needed
          env:
            GH_TOKEN: $(thedevopscoder)  # GitHub Personal Access Token secret from Azure DevOps
